
<!-- % tags % in DTL-->


{% extends 'base.html' %}


<!--filters in DTL-->
{%block content%}

{%if size == 984985148 %}

<h1>full name = {{name|capfirst}} </h1>
<h1>name length = {{name|length}} </h1>
<h1>sliced fist 10 characters = {{name|slice:':10'}} </h1>
<h1>age = {{age|default:"not found"}}</h1>
<h1>adding mahmoud :  {{name|add:' mahmoud'}}</h1>
<h1>cutting all spces : {{name|cut:' '}}</h1>
<h1>changing file size : {{size|filesizeformat}}</h1>

{% elif size < 5 %}
<h1>size is less than 5</h1>

{% else %}

<h1>hello</h1>
{%endif%}

{% for x in name %}
<p>{{x}}</p>
{% endfor %}

{%endblock content%}


