{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="{% url 'index' %}">MyWebsite</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <!--    <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li> -->
        </ul>
    </div>
</nav>


{% comment %}
write your comments here 

{% endcomment %}